<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TO-DO-List</title>
  </head>
  <body>
    <h1><%= day %></h1>

    <ul>
      <li>GFG </li>
      <li>WebD</li>
      <li>Back Workout</li>
      <li>Running</li>
      <% for(var i=0; i<newItem.length; i++) { %>
        <li><%= newItem[i] %></li>
      <% } %>
    </ul>

    <form action="/" method="post">
      <input type="text" name="item" placeholder="Enter Next Item">
      <button type="submit" name="button">TO DO</button>
    </form>
  </body>
</html>
